body{background-color: #33A3FF;
  color: #FF3333;
  margin: 0;}

h1{text-align: left;
  font-size:2rem;
  color: #FF3333;}

h2{text-align: left;
  font-size:2rem;
  color: #FF3333;}

h3{text-align: left;
  font-size:2rem;
  color: #FF3333;}

p{color: #FF3333;}

#p1{border-left: solid;
  border-color : #A74A37;}

a{color: #A74A37;}
